:root {
    --width: 640px;
    --height: 640px;
}

body {
    background-color: #caf0f8;
    padding: 0px;
    margin: 0px;
}
.sketch-board {
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    flex: 0 0 auto;
}

.pixel {
    background-color: white;
    flex: 0 0 auto;
    z-index: 11;
}

.tip {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.options {
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
